.navigation-bar {
  width: calc(100% - 20pt);
  background-color: #121212;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20pt;
  position: fixed;
  top: 0;
  z-index: 1;
  .avatar {
    border-radius: 50%;
  }
  .nickname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10pt;
    font-size: 16pt;
    font-weight: 800;    
  }
}
.sub-navigation-bar {
  width: calc(100% - 20pt);
  background-color: #121212;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16pt 0 12pt 20pt;
  position: fixed;
  box-shadow: 0 2pt 6pt #0C0C0C;
  .search-bar {
    width: calc(100% - 20pt);
    height: 24pt;
    background-color: rgba($color: #A8A8A8, $alpha: 0.1);
    border-radius: 8pt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .icon {
      height: 14pt;
      width: 14pt;
      margin-right: 10pt;
    }
  }
}
.container {
  // padding-top: 12pt;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    .icon {
      height: 18pt;
      width: 18pt;
    }
    .location {
      height: 15pt;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2pt 4pt 1pt 6pt;
      .icon {
        height: 12pt;
        width: 12pt;
      }
      .text {
        padding: 1pt 0 0 1pt;
        height: 12pt;
        font-weight: 400;
        line-height: 12pt;
        margin-left: 1pt;
        font-size: 10pt;
        color: #A8A8A8;
      }
    }
    
  }
  .banner {
    width: calc(100% + 8pt);
    transform: translateX(-4pt);
    margin: 12pt 0;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80pt;
      padding: 4pt 0;
    }
    .row-main {
      height: 96pt;
    }
    .block {
      width: 80pt;
      height: 100%;
      margin: 0 4pt;
      border-radius: 8pt;
    }
    .block-main {
      flex: 1;
    }
    
  }
  .activity {
    padding: 8pt 0;
    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 12pt;
      .surface {
        width: 112pt;
        height: 84pt;
        border-radius: 8pt;
      }
      .content {
        flex: 1;
        padding-left: 8pt;
        .title {
          margin-bottom: 2pt;
        }
        .info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 1pt 0;
          .icon {
            height: 12pt;
            width: 12pt;
            margin-right: 8pt;
            border-radius: 6pt;
          }
          .text {
            color: #A8A8A8;
            font-size: 10pt;
          }
        }
      }
    }
  }
  .bottom-placeholder {
    height: 52pt;
    width: 100%;
  }
}