.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 16pt;

  .user {
    .info {
      display: flex;
      align-items: center;

      .avatar {
        height: 36pt;
        width: 36pt;
        border-radius: 50%;
      }

      .nickname {
        font-size: 14pt;
        margin-left: 8pt;
      }

      .icon {
        height: 16pt;
        width: 16pt;
        transform: translate(8pt);
      }
    }

    .tags {
      margin-top: 6pt;
      display: flex;
      align-items: center;

      .tag {
        margin-right: 6pt;
        padding: 2pt 8pt;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #65D46E;
        border-radius: 20pt;
        color: #121212;
        font-size: 10pt;
      }
    }
  }

  .identifications {
    margin-top: 12pt;

    .identification {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 16pt;

      .icon {
        height: 16pt;
        width: 16pt;
        transform: translate(8pt);
      }
    }
  }

  .quit {
    text-align: center;
    padding-bottom: 40pt;
  }
}

.info-drawer-mask {
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
}

.info-drawer {
  animation: drawler-slide-up 0.1s;
  width: calc(100% - 40pt);
  height: 240pt;
  position: fixed;
  bottom: 0pt;
  z-index: 999;
  background-color: #121212;
  border-radius: 12pt 12pt 0 0;
  padding: 0 20pt;
  box-shadow: 0 -6pt 6pt #0C0C0C;

  .options {
    height: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info {
    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 16pt;
    }

    input {
      width: calc(100% - 42pt);
      transform: translateY(1pt);
    }
  }
}